<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
    <div>Menu :</div>
    <ul>
    <li><h:link outcome="hello">Hello</h:link></li>
    <li><h:link outcome="bye">Bye</h:link></li>
    <li><h:link outcome="counters">Counters</h:link></li>
    <li><h:link outcome="courses">Courses</h:link></li>
    <li><h:link outcome="ajaxSample">AJAX sample</h:link></li>
    </ul>
</ui:composition>

</html>
