<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/mylayout.xhtml">
    <ui:define name="content">
        <f:view>
            <h1>
                <h:outputText value="#{messages.bye}" />
            </h1>
            <h:form>
                <p>
                    <h:commandButton action="#{navigation.hello}"
                        value="Controller to Hello" />
                    <h:outputText> | </h:outputText>
                    <h:commandLink action="bye?faces-redirect=true"
                        value="Redirection to Bye" />
                </p>
                <p>
                    <h:commandLink action="home"
                        value="New path to Hello" />
                </p>
            </h:form>
            <p>
                <h:link outcome="hello">Hello</h:link>
            </p>
        </f:view>
    </ui:define>
</ui:composition>

</html>
