<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition template="/template/mylayout.xhtml">
        <ui:define name="content">
            <h1>Counters</h1>
            <p>
                App counter =
                <h:outputText value="#{applicationCounter.counter}" />
            </p>
            <p>
                View counter =
                <h:outputText value="#{viewCounter.counter}" />
            </p>
            <h:form>
                <h:commandButton value="Submit" />
            </h:form>
        </ui:define>
        <ui:define name="title">Counters</ui:define>
    </ui:composition>
</h:body>
</html>